
body {
  font-family: 'Fira Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  font-size: 10pt;
  text-align: justify;
  margin: 0;
}

@media only screen {
  body {
    font-size: 16px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
  }
}
.header {
  background-color: #81c784;
  line-height: 4rem;
}

#content {
  display: flex;
  flex-direction: row;
}

h1 {
  font-family: 'Bitter', serif;
}

h1, h2, h3, h4 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
}

h1 {
  text-align: center;
  color: white;
}

.chronologie h2 {
  text-transform: uppercase;
  margin-top: .75rem;
  font-size: 1.8rem;
  font-weight: 300;
}

.chronologie h3 {
  margin-top: 0.5rem;
  font-size: 1.2rem;
}

.info h2 {
  font-size: 2rem;
  text-align: center;
  padding-top: 0.4cm;
  padding-bottom: 0.4cm;
  font-family: 'Bitter', serif;
}

.info .contact {
  text-align: center;
}

.info .contact a {
  text-decoration: none;
  color: inherit;
}

.info h3 {
  margin-top: 2rem;
  font-size: .85rem;
}

ul {
  list-style-type: circle;
  padding-left: 1.5rem;
  font-size: 0.9rem;
  line-height: 12pt;
}

div.atouts {
  padding-top: .5cm;
  padding-bottom: .5cm;
  margin-bottom: 1.5rem;
}

ul.atouts {
  margin: 0;
  list-style-type: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.15rem;
  font-weight: 200;
  border-top: 1pt solid grey;
  padding: 1rem 0;
  border-bottom: 1pt solid grey;
}

ul.atouts>li {
  padding-right: 0.5rem;
}

ul.contact {
  padding: 0;
  margin: 0;
  list-style-type: none;
}


#content>.info {
  width: calc(5.2cm - 0.6cm);
  background-color: #efefef;
  padding-left: 0.4cm;
  padding-right: 0.2cm;
  text-align: left;
}

#content>.chronologie {
  width: calc(15.8cm - 0.6cm);
  margin-left: 0.4cm;
  margin-right: 0.2cm;
  padding-bottom: 0.2cm;
}

.profil {
  margin: auto;
  display: block;
}

.profil>img {
  max-width: 100%;
  border-radius: 50%;
  margin: auto;
  display: block;
  margin-top: .2cm;
  margin-bottom: .2cm;
}

.footer {
  height: 1cm;
  background-color: #81c784;
}

.footer {
  display: none;
}

span.picto {
  vertical-align: middle;
}

span.picto>img {
  height: .75rem;
}

span.picto.phone>img {
  height: .75rem;
  transform: scaleX(-1);
}

.running-footer {
  position: running(runningFooter)
}

@page {
  size: A4;
  margin: 1cm;
  marks: crop cross;    // purpose of demonstration only
}

@page {
  @bottom-left {
    background-color: #81c784;
    color: white;
  }

}
@page :right {
  @bottom-left {
    content: '';
    background-color: #81c784;
    color: white;
  }
  @bottom-center {
    content: element(runningFooter);
    background-color: #81c784;
    color: white;
  }
  @bottom-right {
    content: 'Page ' counter(page) "/" counter(pages);
    background-color: #81c784;
    color: white;
    padding-right: 1em;
  }
}

@page :left {
  @bottom-left {
    content: 'Page ' counter(page) "/" counter(pages);
    background-color: #81c784;
    color: white;
    padding-left: 1em;
  }
  @bottom-center {
    content: element(runningFooter);
    background-color: #81c784;
    color: white;
  }
  @bottom-right {
    content: '';
    background-color: #81c784;
    color: white;
  }
}

[data-align-last-split-element='justify'] {
  text-align-last: left;
}
