#toc {
  page: tableofcontents;
}

@page :left {
  @bottom-right {
    content: counter(page);
    font-size: 0.8rem;
    padding: 10pt 0 0 0;
    margin: 10pt 10pt 30pt 10pt;
    border-top: .1pt solid #d2d2d2;
  }
  @bottom-left {
    margin: 10pt 0 30pt 0;
    border-top: .1pt solid #d2d2d2;
  }
}

@page :right {
  @bottom-right {
    margin: 10pt 0 30pt 0;
    border-top: .1pt solid #d2d2d2;
  }
  @bottom-left {
    content: counter(page);
    font-size: 0.8rem;
    padding: 10pt 0 0 0;
    margin: 10pt 10pt 30pt 10pt;
    border-top: .1pt solid #d2d2d2;
  }
}

@page :first {
  @bottom-right {
    margin: 0;
    padding: 0;
    border: none;
    content: normal;
  }
  @bottom-left {
    margin: 0;
    padding: 0;
    border: none;
    content: normal;
  }
}

@page tableofcontents {
  @bottom-right {
    margin: 0;
    padding: 0;
    border: none;
    content: normal;
  }
  @bottom-left {
    margin: 0;
    padding: 0;
    border: none;
    content: normal;
  }
}
