@import 'https://fonts.googleapis.com/css?family=Noto+Serif';
@import 'https://fonts.googleapis.com/earlyaccess/mplus1p.css';

@page {
  margin: 0.5in 0.67in 0.67in 0.67in;
  size: A4;
}

@page :left {
  @bottom-right {
    content: counter(page);
    font-size: 0.8rem;
    padding: 10pt 0 0 0;
    margin: 10pt 10pt 30pt 10pt;
    border-top: .1pt solid #d2d2d2;
  }
  @bottom-left {
    margin: 10pt 0 30pt 0;
    border-top: .1pt solid #d2d2d2;
  }
}

@page :right {
  @bottom-right {
    margin: 10pt 0 30pt 0;
    border-top: .1pt solid #d2d2d2;
  }
  @bottom-left {
    content: counter(page);
    font-size: 0.8rem;
    padding: 10pt 0 0 0;
    margin: 10pt 10pt 30pt 10pt;
    border-top: .1pt solid #d2d2d2;
  }
}

@page :first {
  @bottom-right {
    margin: 0;
    padding: 0;
    border: none;
    content: normal;
  }
  @bottom-left {
    margin: 0;
    padding: 0;
    border: none;
    content: normal;
  }
}

html {
  font: 10.5pt/1.15 'Noto Serif', serif;
  text-align: justify;
}

p[data-split-to], li[data-split-to], figcaption[data-split-to], blockquote[data-split-to],
.sectionbody, [data-split-original] {
  text-align-last: left !important;
}

#cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  page-break-after: always;
  align-items: flex-end;
}

.pagedjs_page.pagedjs_first_page {
  counter-increment: page 0;
}

#cover h1 {
  color: #999;
  font-weight: 200;
  font-size: 2.6rem;
  padding: 0;
  margin-bottom: 1rem;
}

#cover h2 {
  font-size: 1.1rem;
  font-weight: 200;
  padding: 0;
  margin: 0;
}

h1, h2, h3, #toctitle, .sidebarblock > .content > .title, h4, h5, h6 {
  color: #333;
  font-family: 'Noto Serif', serif;
  font-weight: 600;
}

a {
  color: #2986e7;
  text-decoration: none;
  line-height: inherit;
}

p, blockquote, dt, td.content, span.alt {
  font-size: 0.95rem;
}

.admonitionblock > table td.icon .title {
  font-family: 'Noto Serif', serif;
}

.subheader, .admonitionblock td.content > .title, .audioblock > .title, .exampleblock > .title, .imageblock > .title, .listingblock > .title, .literalblock > .title, .stemblock > .title, .openblock > .title, .paragraph > .title, .quoteblock > .title, table.tableblock > .title, .verseblock > .title, .videoblock > .title, .dlist > .title, .olist > .title, .ulist > .title, .qlist > .title, .hdlist > .title {
  color: #333;
}

p {
  line-height: 1.4;
  margin-bottom: 1rem;
}

table.frame-all {
  border-width: 0;
  border-collapse: collapse;
}

table thead tr th, table tfoot tr th, table tbody tr td, table tr td, table tfoot tr td {
  line-height: 1;
  font-size: 0.9rem;
}

table.grid-all > thead > tr > .tableblock, table.grid-all > tbody > tr > .tableblock {
  border-width: 1px 1px 1px 1px;
  border-collapse: collapse;
}

.table.tableblock {
  border-collapse: collapse;
}

table.grid-all > * > tr > .tableblock:last-child, table.grid-cols > * > tr > .tableblock:last-child {
  border-right-width: 1px;
}

table.grid-all > tbody > tr:last-child > .tableblock, table.grid-all > thead:last-child > tr > .tableblock, table.grid-rows > tbody > tr:last-child > .tableblock, table.grid-rows > thead:last-child > tr > .tableblock {
  border-bottom-width: 1px;
}

table {
  page-break-inside: avoid;
}

tr {
  page-break-inside: avoid;
}

.listingblock {
  page-break-inside: avoid;
}
