@import 'https://fonts.googleapis.com/css?family=Old+Standard+TT';

@page {
  size: 4in 7in;
  margin: 15mm 10mm 15mm 10mm;
}

body {
  font-family: 'Old Standard TT', serif;
}

#cover {
  padding-top: 40%;
}

#cover h1, h2 {
  text-align: center;
}

.chapter {
  page-break-before: always;
}

.chapter img.title {
  margin-top: 0.5in;
  height: 2in;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.chapter p {
  font-size: 1em;
  line-height: 1.6em;
  text-align: justify;
}

.chapter img.stars {
  width: 80%;
  margin: 0.2in auto 0.2in 10%;
  page-break-inside: avoid;
}
