name: Release

on:
  push:
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v2.1.3

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 14
      # libgbm-dev is required by Puppeteer 3+
      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libgbm-dev ghostscript poppler-utils
        if: ${{ runner.os == 'Linux' }}
      - name: Install dependencies
        run: |
          npm ci
      - name: Lint and test
        run: |
          npm run lint
          npm t
  publish:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 14
      # libgbm-dev is required by Puppeteer 3+
      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libgbm-dev ghostscript poppler-utils
        if: ${{ runner.os == 'Linux' }}
      - name: Install dependencies
        run: |
          npm ci
      # package and publish
      - name: Package and publish
        env:
          NPM_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          npm run build
          npm run publish
      - run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
      # create the GitHub release
      - name: Create release
        id: create_release
        uses: actions/create-release@v1.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: "${{ github.ref }}"
          draft: false
          prerelease: true
      # upload assets
      - name: Upload macOS binary (zip)
        uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: build/asciidoctor-web-pdf-mac.zip
          asset_name: asciidoctor-web-pdf-mac-${{ env.RELEASE_VERSION }}.zip
          asset_content_type: application/zip
      - name: Upload Windows binary (zip)
        uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: build/asciidoctor-web-pdf-win.zip
          asset_name: asciidoctor-web-pdf-win-${{ env.RELEASE_VERSION }}.zip
          asset_content_type: application/zip
      - name: Upload Linux binary (zip)
        uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: build/asciidoctor-web-pdf-linux.zip
          asset_name: asciidoctor-web-pdf-linux-${{ env.RELEASE_VERSION }}.zip
          asset_content_type: application/zip
